.git
.github
.gitignore
.vscode
.idea
.cursor
.nova
.codex
.zed

node_modules
vendor

.env
.env.*
!.env.example

tests
phpunit.xml
*.log
*.md
.editorconfig

Dockerfile
docker-compose.yml
docker-compose.yaml

storage/logs/*
storage/pail
storage/*.key
public/build
public/hot
public/storage
public/fonts-manifest.dev.json

bootstrap/cache/*.php

.phpactor.json
.phpunit.cache
.phpunit.result.cache
_ide_helper.php
Homestead.json
Homestead.yaml
Thumbs.json
